extends layouts/_layout
block variables
  - const pageId = "top";
  - const title = "ページタイトル";
  - const description = "ページ概要";
block append assets
  script(src=require("assets/js/index.bundle") defer)
block content
  main
